{% extends 'base.html.twig' %}

{% block body %}
    <div class="nav">
        <a href="/">
            <button class="add-new-btn">
                Contacts
            </button>
        </a>
    </div>
    <form method="POST" action="/contact">
        <div class="form-block">
            <label for="firstName">First Name</label><br/>
            <input type="text" name="firstName">
        </div>
        <div class="form-block">
            <label for="lastName">Last Name</label><br/>
            <input type="text" name="lastName">
        </div>
        <div class="form-block">
            <label for="birthday">Birthday</label><br/>
            <input type="date" name="birthday">
        </div>
        <div class="form-block">
            <label for="phoneNumber">Phone number</label><br/>
            <input type="text" name="phoneNumber">
        </div>
        <div class="form-block">
            <label for="email">Email</label><br/>
            <input type="email" name="email">
        </div>
        <div class="form-block">
            <label for="city">City</label><br/>
            <input type="text" name="city">
        </div>
        <div class="form-block">
            <label for="zip">ZIP</label><br/>
            <input type="text" name="zip">
        </div>
        <div class="form-block">
            <label for="address">Address</label><br/>
            <input type="text" name="address">
        </div>
        <div class="form-block">
            <label for="country">Country</label><br/>
            <input type="text" name="country">
        </div>
        <div class="form-block">
            <label for="picture">Picture</label><br/>
            <input type="file" name="picture">
        </div>

        <input type="submit" value="Save">
    </form>

    {% if errors is defined %}
        <div>
            <h3>Errors:</h3>
            <ul>
                {% for error in errors %}
                    <li> {{ error.propertyPath }} -> {{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}