{% extends 'base.html.twig' %}

{% block body %}
    <div class="nav">
        <a href="/">
            <button class="add-new-btn">
                Contacts
            </button>
        </a>
    </div>
    <!-- I tried to set method to PUT and route /contact/id, but unsuccessfully, so I decided for post just to finish the task  -->
    <form method="POST" action="/contact/{{ contact.id }}">
        <div class="form-block">
            <label for="firstName">First Name</label><br/>
            <input type="text" name="firstName" value="{{ contact.firstName }}">
        </div>
        <div class="form-block">
            <label for="lastName">Last Name</label><br/>
            <input type="text" name="lastName" value="{{ contact.lastName }}">
        </div>
        <div class="form-block">
            <label for="birthday">Birthdat</label><br/>
            <input type="text" name="birthday" value="{{ contact.birthday|date("d.m.Y") }}">
        </div>
        <div class="form-block">
            <label for="city">City</label><br/>
            <input type="text" name="city" value="{{ contact.city }}">
        </div>
        <div class="form-block">
            <label for="zip">ZIP</label><br/>
            <input type="text" name="zip" value="{{ contact.zip }}">
        </div>
        <div class="form-block">
            <label for="address">Address</label><br/>
            <input type="text" name="address" value="{{ contact.address }}">
        </div>
        <div class="form-block">
            <label for="country">Country</label><br/>
            <input type="text" name="country" value="{{ contact.country }}">
        </div>
        <div class="form-block">
            <label for="phoneNumber">Phone number</label><br/>
            <input type="text" name="phoneNumber" value="{{ contact.phoneNumber }}">
        </div>
        <div class="form-block">
            <label for="email">Email</label><br/>
            <input type="email" name="email" value="{{ contact.email }}">
        </div>
        <div class="form-block">
            <label for="picture">Image</label><br/>
            <input type="text" name="picture" value="{{ contact.picture}}">
        </div>

        <input type="submit" value="Update">
    </form>
{% endblock %}