{% extends 'base.html.twig' %}

{% block body %}
    <a href="/contact/create">
        <button class="add-new-btn">Add new
        </button>
    </a>
    <form method="GET" action="/">
        <input type="text" name="term">
        <input type="submit" value="Search">
    </form>
    <table class="contact-tb">
        <thead>
        <tr>
            <th>Picture</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birthday</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>City</th>
            <th>Zip</th>
            <th>Street and number</th>
            <th>Country</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><img src="{{ contact.picture }}"></td>
                <td>{{ contact.firstName }}</td>
                <td>{{ contact.lastName }}</td>
                <td>{{ contact.birthday|date('d.m.Y') }}</td>
                <td>{{ contact.phoneNumber }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.city }}</td>
                <td>{{ contact.zip }}</td>
                <td>{{ contact.address }}</td>
                <td>{{ contact.country }}</td>
                <td>
                    <a href="/contact/{{ contact.id }}/edit">
                        <button>
                            <ion-icon name="create"></ion-icon>
                        </button>
                    </a>
                </td>
                <td>
                    <!-- I tried to set method to DELETE and route /contact/id, but unsuccessfully, so I decided for post just to finish the task  -->
                    <form method="POST" action="/contact/{{ contact.id }}/delete">
                        <button type="submit" class="delete-btn">
                            <ion-icon name="trash"></ion-icon>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}