<!DOCTYPE html>
<html>
    <head>
        <title>Address Book</title>
        <style type="text/css">
            .content {
                padding: 10px;
            }

            .delete-btn {
                cursor: pointer;
                color: red;
            }

            .contact-tb {
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                border-collapse: collapse;
                width: 100%;
                margin-top: 20px;
            }

            .contact-tb td, .contact-tb th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            .contact-tb tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            .contact-tb tr:hover {
                background-color: #ddd;
            }

            .contact-tb th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #00afab;
                color: white;
            }

            input[type=text], [type=email], [type=date], select {
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                font-size: 16px;
            }

            input[type=submit], .add-new-btn {
                background-color: #00afab;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                border-color: #99dfdd;
            }

            input[type=submit]:hover, .add-new-btn:hover {
                background-color: #99dfdd;
            }

            .add-new-btn {
                float: right;
            }

            .add-new-btn a {
                text-decoration: none;
                color: white;
            }
        </style>
    </head>
    <body>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
    </body>
</html>